* {
    --active-color: #5b573b;
    --nav-link-font: fantasy;
    --intro-line-font: Candara;
    --intro-second-line: Garamond;
}

html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 15px;
    max-width: 100%;
    width: 100%;
    min-height: 100vh;
}

body {
    background-image: url(/images/pexels-andreea-ch-1166644.jpg);
    background-size: 1540px 800px;
}

nav {
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: flex-end;
}

nav a {
    margin: 5px;
    text-decoration: none;
    font: 1rem var(--intro-line-font);
    color: black;
    padding: 10px;
}

nav a:hover {
    text-decoration: underline;
}

.active {
    background-color: #5b573b;
    border-radius: 3px;
}

.hamburger {
    display: none;
}

.hamburger span {
    display: block;
    width: 25px;
    height: 4px;
    margin: 4px 6px;
    background-color: black;
    border-radius: 1mm;
}

main {
    width: 95%;
    max-width: 100%;
    margin: 110px auto;
    padding: 5px;
    display: flex;
    align-items: center;
}

main>section {
    width: 20%;
    text-align: left;
    padding: 80px;
    margin: 25px;
    background-color: #5b573bc4;
    border-radius: 5px;
    font: 1.1rem calibri;
    list-style: circle;
    box-shadow: 0 0 2px 3px #5b573b8f;
}

section>h2 {
    line-height: 0;
    text-align: center;
}

section>p {
    text-align: center;
}

footer {
    position: relative;
    top: 40px;
    width: 95%;
    max-width: 100%;
    margin: auto;
    animation-name: footer-animation;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

#footer {
    font-family: monospace;
    font-size: 2rem;
    width: 60%;
    max-width: 100%;
    margin: auto;
    text-align: center;
}

@keyframes footer-animation {
    0% {
        right: 0px;
    }

    25% {
        right: 10px;
    }

    50% {
        right: 20px;
    }

    75% {
        right: 10px;
    }

    100% {
        right: 0px;
    }
}

@media (min-width: 320px) and (max-width: 359px) {
    body {
        background-size: cover;
    }

    nav {
        display: flex;
        flex-direction: column;
        background-color: #5b573b;
        width: 89%;
        height: 100vh;
        margin: 0;
        justify-content: flex-start;
        border-radius: 3px;
        position: absolute;
        transform: translateX(-400px);
    }

    .shownav {
        transform: translateX(0);
        transition: 0.2s;
    }

    nav a {
        display: block;
        color: gainsboro;
        padding: 10px;
        font-size: large;
        transition: 0.2s;
        border-bottom: 0.1px solid grey;
    }

    nav a:hover {
        transform: translateX(2.5rem);
        text-decoration: none;
        background-color: black;
        border-radius: 3px;
    }

    .hamburger {
        display: block;
        margin-top: 2px;
        float: right;
    }

    .top-bun.hamburgerActive {
        transform: rotate(45deg) translate(5px, 7px);
        transition: 0.3s;
    }

    .middle.hamburgerActive {
        visibility: hidden;
        transition: 0.1s;
    }

    .bottom-bun.hamburgerActive {
        transform: rotate(-45deg) translate(5px, -7px);
        transition: 0.3s;
    }

    main {
        width: 100%;
        padding-top: 10%;
        flex-direction: column;
        margin: auto;
    }

    main>section {
        width: 80%;
        padding: 20px;
        margin-bottom: 15px;
        background-color: #5b573bba;
        font-size: 1rem;
    }

    footer {
        top: 50px;
    }

    #footer {
        font-size: 1rem;
    }
}

@media (min-width: 360px) and (max-width: 760px) {
    body {
        background-size: cover;
    }

    nav {
        display: flex;
        flex-direction: column;
        background-color: #5b573b;
        width: 90%;
        height: 100vh;
        margin: 0;
        justify-content: flex-start;
        border-radius: 3px;
        position: absolute;
        transform: translateX(-800px);
    }

    .shownav {
        transform: translateX(0);
        transition: 0.2s;
    }

    nav a {
        display: block;
        color: gainsboro;
        padding: 10px;
        font-size: large;
        transition: 0.2s;
        border-bottom: 0.1px solid grey;
    }

    nav a:hover {
        transform: translateX(2.5rem);
        text-decoration: none;
        background-color: black;
        border-radius: 3px;
    }

    .hamburger {
        display: block;
        margin-top: 2px;
        float: right;
    }

    .top-bun.hamburgerActive {
        transform: rotate(45deg) translate(5px, 7px);
        transition: 0.3s;
    }

    .middle.hamburgerActive {
        visibility: hidden;
        transition: 0.1s;
    }

    .bottom-bun.hamburgerActive {
        transform: rotate(-45deg) translate(5px, -7px);
        transition: 0.3s;
    }

    main {
        width: 100%;
        padding-top: 15%;
        flex-direction: column;
        margin: auto;
    }

    main>section {
        width: 80%;
        padding: 25px 25px;
        background-color: #5b573bba;
        margin-bottom: 20px;
        font-size: 1rem;
    }

    footer {
        top: 50px;
    }

    #footer {
        font-size: 1.2rem;
    }
}

@media (min-width: 761px) and (max-width: 1024px) {
    body {
        background-size: cover;
    }

    nav {
        display: flex;
        flex-direction: column;
        background-color: #5b573b;
        width: 94.5%;
        height: 100vh;
        margin: 0;
        justify-content: flex-start;
        border-radius: 3px;
        position: absolute;
        transform: translateX(-1024px);
    }

    .shownav {
        transform: translateX(0);
        transition: 0.2s;
    }

    nav a {
        display: block;
        color: gainsboro;
        padding: 10px;
        font-size: large;
        transition: 0.2s;
        border-bottom: 0.1px solid grey;
    }

    nav a:hover {
        transform: translateX(3rem);
        text-decoration: none;
        background-color: black;
        border-radius: 3px;
    }

    .hamburger {
        display: block;
        margin-top: 5px;
        margin-right: 5px;
        float: right;
        transform: scale(1.2);
    }

    .top-bun.hamburgerActive {
        transform: rotate(45deg) translate(5px, 7px);
        transition: 0.3s;
    }

    .middle.hamburgerActive {
        visibility: hidden;
        transition: 0.1s;
    }

    .bottom-bun.hamburgerActive {
        transform: rotate(-45deg) translate(5px, -7px);
        transition: 0.3s;
    }

    main {
        width: 100%;
        padding-top: 10%;
        flex-direction: column;
        margin: auto;
    }

    main>section {
        width: 40%;
        background-color: #5b573bba;
        margin-bottom: 50px;
        padding: 50px 170px;
        font-size: 1.7rem;
    }

    footer {
        top: 100px;
    }
}

@media (min-width: 1025px) and (max-width: 1200px) {
    body {
        background-size: cover;
    }
}