* {
    --active-color: #5b573b;
    --nav-link-font: fantasy;
    --intro-line-font: Candara;
    --intro-second-line: Garamond;
}

html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 15px;
    max-width: 100%;
    width: 100%;
    min-height: 100vh;
}

body {
    background-image: url(/images/pexels-andreea-ch-1166644.jpg);
    background-size: 1540px 800px;
}


nav {
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: flex-end;
    margin: auto;
}

nav a {
    margin: 5px;
    text-decoration: none;
    font: 1rem var(--intro-line-font);
    color: black;
    padding: 10px;
}

nav a:hover {
    text-decoration: underline;
}

.active {
    background-color: #5b573b;
    border-radius: 3px;
}

.hamburger {
    display: none;
}

.hamburger span {
    display: block;
    width: 25px;
    height: 4px;
    margin: 4px 6px;
    background-color: black;
    border-radius: 1mm;
}

main {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    padding-top: 7%;
    display: grid;
    grid-template-rows: auto auto auto;
}

#picture-div {
    width: 80%;
    max-width: 100%;
    grid-row: 1;
    margin: auto;
}

#My-picture {
    width: 15%;
    max-width: 100%;
    border-radius: 50%;
    margin: auto auto auto 25%;
    box-shadow: -2px 2px 20px #5b573b;
}

#intro {
    width: 60%;
    max-width: 100%;
    text-align: center;
    margin: auto;
    font: 80px var(--intro-line-font);
    grid-row: 2;
}


#intro-continue {
    width: 40%;
    max-width: 100%;
    text-align: center;
    margin: auto auto auto 19.5%;
    font: 3rem var(--intro-second-line);
    font-style: oblique;
    grid-row: 3;
}

footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    max-width: 100%;
    margin: auto;
    background-color: gainsboro;
    padding: 10px;
    animation-name: footer-animation;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

#footer {
    font-family: monospace;
    font-size: 2rem;
    width: 60%;
    max-width: 100%;
    margin: auto;
    text-align: center;
}

@keyframes footer-animation {
    0% {
        right: 0px;
    }

    25% {
        right: 10px;
    }

    50% {
        right: 20px;
    }

    75% {
        right: 10px;
    }

    100% {
        right: 0px;
    }
}

/* media query for small smartphones */
@media (min-width: 320px) and (max-width: 359px) {
    body {
        background-size: cover;
    }

    nav {
        display: flex;
        flex-direction: column;
        background-color: #5b573b;
        width: 89%;
        height: 100vh;
        margin: 0;
        justify-content: flex-start;
        border-radius: 3px;
        position: absolute;
        transform: translateX(-400px);
    }

    .shownav {
        transform: translateX(0);
        transition: 0.2s;
    }

    nav a {
        display: block;
        color: gainsboro;
        padding: 10px;
        font-size: large;
        transition: 0.2s;
        border-bottom: 0.1px solid grey;
    }

    nav a:hover {
        transform: translateX(2.5rem);
        text-decoration: none;
        background-color: black;
        border-radius: 3px;
    }

    .hamburger {
        display: block;
        margin-top: 2px;
        float: right;
    }

    .top-bun.hamburgerActive {
        transform: rotate(45deg) translate(5px, 7px);
        transition: 0.3s;
    }

    .middle.hamburgerActive {
        visibility: hidden;
        transition: 0.1s;
    }

    .bottom-bun.hamburgerActive {
        transform: rotate(-45deg) translate(5px, -7px);
        transition: 0.3s;
    }

    main {
        width: 100%;
        padding-top: 10%;
    }

    #My-picture {
        width: 30%;
        margin: auto auto auto 35%;
    }

    #intro {
        padding: 10px 0;
        font-size: 1.6rem;
    }

    #intro-continue {
        font-size: 1.2rem;
        margin: auto auto auto 30%;
    }

    #footer {
        font-size: 1.2rem;
    }
}

/* media query for phablets */
@media (min-width: 360px) and (max-width: 760px) {
    body {
        background-size: cover;
    }

    nav {
        display: flex;
        flex-direction: column;
        background-color: #5b573b;
        width: 90%;
        height: 100vh;
        margin: 0;
        justify-content: flex-start;
        border-radius: 3px;
        position: absolute;
        transform: translateX(-800px);
    }

    .shownav {
        transform: translateX(0);
        transition: 0.2s;
    }

    nav a {
        display: block;
        color: gainsboro;
        padding: 10px;
        font-size: large;
        transition: 0.2s;
        border-bottom: 0.1px solid grey;
    }

    nav a:hover {
        transform: translateX(2.5rem);
        text-decoration: none;
        background-color: black;
        border-radius: 3px;
    }

    .hamburger {
        display: block;
        margin-top: 2px;
        float: right;
        cursor: pointer;
    }

    .top-bun.hamburgerActive {
        transform: rotate(45deg) translate(5px, 7px);
        transition: 0.3s;
    }

    .middle.hamburgerActive {
        visibility: hidden;
        transition: 0.1s;
    }

    .bottom-bun.hamburgerActive {
        transform: rotate(-45deg) translate(5px, -7px);
        transition: 0.3s;
    }

    main {
        width: 100%;
        padding-top: 15%;
    }

    #My-picture {
        width: 30%;
        margin: auto auto auto 35%;
    }

    #intro {
        padding: 10px 0;
        font-size: 1.8rem;
    }

    #intro-continue {
        font-size: 1.2rem;
        font-style: oblique;
        margin: auto auto auto 30%;
    }

    #footer {
        font-size: 1.2rem;
    }
}

/* media query for tablets */
@media (min-width: 761px) and (max-width: 1024px) {
    body {
        background-size: cover;
    }

    nav {
        display: flex;
        flex-direction: column;
        background-color: #5b573b;
        width: 94.5%;
        height: 100vh;
        margin: 0;
        justify-content: flex-start;
        border-radius: 3px;
        position: absolute;
        transform: translateX(-1024px);
    }

    .shownav {
        transform: translateX(0);
        transition: 0.2s;
    }

    nav a {
        display: block;
        color: gainsboro;
        padding: 10px;
        font-size: large;
        transition: 0.2s;
        border-bottom: 0.1px solid grey;
    }

    nav a:hover {
        transform: translateX(3rem);
        text-decoration: none;
        background-color: black;
        border-radius: 3px;
    }

    .hamburger {
        display: block;
        margin-top: 5px;
        margin-right: 5px;
        float: right;
        transform: scale(1.2);
    }

    .top-bun.hamburgerActive {
        transform: rotate(45deg) translate(5px, 7px);
        transition: 0.3s;
    }

    .middle.hamburgerActive {
        visibility: hidden;
        transition: 0.1s;
    }

    .bottom-bun.hamburgerActive {
        transform: rotate(-45deg) translate(5px, -7px);
        transition: 0.3s;
    }

    main {
        width: 100%;
        padding-top: 10%;
    }

    #My-picture {
        width: 30%;
        margin: auto auto auto 35%;
    }

    #intro {
        padding: 10px 0;
        font: 3rem var(--intro-line-font);
    }

    #intro-continue {
        font: 2rem var(--intro-second-line);
        font-style: oblique;
        margin: auto auto auto 30%;
    }
}

@media (min-width: 1025px) and (max-width: 1200px) {
    body {
        background-size: cover;
    }
}